<table class="table table-borderless">
  <thead>
    <tr>
    {{#each this.columns as |column|}}
      <th class="text-center" scope="col">{{column}}</th>
    {{/each}} 
    </tr>
  </thead>
  <tbody>
    {{#each this.currentData as |product|}}
      <tr class="pointer-cursor" {{on "click"  (fn @setCurrentProduct product) }}>
        <th class="text-center" scope="row">{{product.id}}</th>
        <td class="text-center">{{product.product}}</td>
        <td class="text-center">{{product.category}}</td>
        <td class="text-center">{{product.brand}}</td>
        <td class="text-center">{{product.stock}}</td>
        <td class="text-center">{{product.price}}</td>
        <td class="text-center">{{product.lastOrderDate}}</td>
        <td class="text-center">{{product.supplier}}</td>
        <td class="text-center">{{product.rating}}</td>
      </tr>
    {{/each}} 
  </tbody>
</table>
<div class="d-flex justify-content-between align-items-center">
  <h5 class="page-data">
    Showing {{this.firstIndex}} to {{this.lastIndex}} of {{@products.length}} entries
  </h5>
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <button class="btn btn-light mr-1 {{if (eq this.currentPage 1) 'disabled'}}" type="button" {{on "click" this.perviousPage }} >Previous</button>
    </li>
    {{#each this.loopCount as |index|}}
      <li class="page-item"><button class="btn btn-light mr-1 {{if (eq this.currentPage index) 'active'}}" type="button" {{on "click" (fn this.changeCurrentPage index)  }}>{{index}}</button></li>
    {{/each}}
    <li class="page-item">
      <button class="btn btn-light {{if (eq this.currentPage this.totalPages) 'disabled'}}" type="button" {{on "click" this.nextPage }}>Next</button>
    </li>
  </ul>
</nav>
</div>
